<h2 class="required">Time</h2>
<div class="input">
    <input [(ngModel)]="inputTime" placeholder="ex. 1:30 PM" (change)="timeChange()">
    <button mat-raised-button (click)="onSelectCurrentTime(0)" class="button" type="submit">Now</button>
    <button mat-raised-button (click)="onSelectCurrentTime(1)" class="button" type="submit">In 1 Minute</button>
    <button mat-raised-button (click)="onSelectCurrentTime(5)" class="button" type="submit">In 5 Minutes</button>
</div>



<h2>Client Name</h2>
<div class="input">
    <input [(ngModel)]="inputClientName" placeholder="ex. Kevin Z" (change)="clientChange()">
</div>