.main {
    padding-left:25px;
}

a:link {
    color: #b79906;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: #b79906;
  }