.Summary--title {
    color: black;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 25px;
    text-align: center;
}

.Summary--list {
    margin: 0 !important;
    padding: 0 !important;

}

.Summary--list li {
    list-style-type: none;
    padding-bottom: 10px;
}

.Summary-item__label {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.Summary--item__text {
    color: black;
    font-size: 20px;
}

.Summary--item__notes {
    color: black;
    font-size: 20px;
    word-wrap: break-word;
    font-style: italic;
}

.Summary-note__divider {
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Summary--buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 31%;
}

.Dialog--wrapper {
    width: 400px;
    height: 450px;
    background-color: white;
    position: relative;
}

.confirm-button {
    background-color: #b79906;
    color: white;
    height: 45px;
}

.back-button {
    background-color: #757575;
    color: white;
    height: 45px;
    margin-right: 10px;
}